name: Check Requirements

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install pyyaml
      - name: Check that content and metadata meet requirements
        run: python scripts/check_requirements.py
      - name: Guarantee correct numbering of notes and inline citations
        run: python3 scripts/fix_note_nums.py --no-fix --except reorg-ideas.md --except aold.md *.md
